/* Font inter-latin-wght-normal */
@font-face {
	font-family: 'Inter Variable';
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


main {
	color: #fffffe;
	background-color: #00356B;
}

nav .navbar {
	color: #fffffe;
}

.nav-link h5 {
	color: #fffffe;
}

nav .navbar-brand {
	color: #fffffe;
}

nav .navbar-toggler {
	border-color: #141618;
	color: #000000;
}

div .offcanvas-header {
	background-color: #002244;
	color: #fffffe;
}

div .offcanvas-body {
	color: #fffffe;
	background-color: #002244;
}



.card-image .card-img {
	max-height: 200px;
	max-width: 200px;
	object-fit: fill;
	border-radius: 60%;
	background-color: #002244;

}

ul {
	color: #fffffe
}


div .row {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
}

div .card-body {
	color: #fffffe;
}


div .card {
	background-color:#00356B;
	border-color: #ffffff;

}

button  {
	background: #002244;
	& a {
	color: #fffffe;
}
}


div .card-title {
	color: #fffffe;
	text-align: center;
}

footer {
	background-color: #002244;
	color: #fffffe;

}


/*código HEX color logos #62ECbc*/

#whatsapp, #linkedin, #github {
	height: 48px;
	width: 48px;
}

/* Media queries */

@media only screen and (min-width: 320px) and (max-width: 800px) {
	.swiper-slide { & img {
		height: 300px;
		width: 350px;
		justify-content: center;
	}
	& h5 {
	margin-top: 4%;
	}
}
	.graficoUno,
	.graficoDos {
		height: 200px;
		width: 200px;
	}

	.card-img-top {
		margin-top: 5%;
		min-height: 200px;
		width: 280px;
		border-radius: 2%;
	}
}


@media only screen and (min-width: 801px) and (max-width: 1440px) {

	.swiper-slide { & img {
		height: 400px;
		width: 450px;
		justify-content: center;
		object-fit: contain;
	}
	& h5 {
		margin-top: 4%;
		}
	}		

	.graficoUno,
	.graficoDos {
		height: 400px;
		width: 400px;
	}

	.card-img-top {
		margin-top: 5%;
		min-height: 200px;
		width: 280px;
		border-radius: 2%;
	}

}